name: SDVX 모든 레벨 스크래핑 및 GitHub에 저장

on:
  schedule:
    - cron: '0 0 1,15 * *'
  
  workflow_dispatch:

jobs:
  scrape-and-save:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # notion-client 관련 설치/삭제 구문 모두 제거
          python -m pip install --no-cache-dir --upgrade requests beautifulsoup4

      - name: Run Python script
        run: |
          python scrap.py

      - name: Commit and push changes
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          
          # 파일이 변경되었는지 확인
          if git diff --quiet sdvx_data.csv; then
            echo "데이터 변경 없음. 커밋을 건너뜁니다."
          else
            echo "데이터 변경 감지. 커밋 및 푸시를 수행합니다."
            git add sdvx_data.csv
            git commit -m "Update sdvx_data.csv"
            git push
          fi